<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="URL" value="https://anupdamoda.github.io/AceOnlineShoePortal/"/>
    <add key="Salutation" value="Mr."/>
    <add key="FirstName" value="Palash"/>
    <add key="LastName" value="Doshi"/>
    <add key="InvalidEmailAddress" value="IvalidEmail"/>
    <add key="ValidEmailAddress" value="ValidEmail@gmail.com"/>
    <add key="Username" value="Palash"/>
    <add key="Password" value="Password"/>
    <add key="ShoeType" value=" Prestige Barlett Borgue"/>
    <add key="ShoeColour" value="Brown"/>
    <add key="ShoeSize" value="9"/>
  </appSettings>
</configuration>